#loginbox
{
	margin:100px auto 100px auto;
	padding:10px;
	border:groove;
	border-radius:10px;
	font-family:Arial;
	width:400px;
	text-align:center;
	background-color:#D7E9F6;
}

#loginbox p
{
	font-size:25px;	
}

#username
{
	padding:15px;
}

#password
{
	padding:15px;
}

#loginButton
{
	padding:15px;
}

#forgotPassword
{
	padding:15px;
}

input
{
	border:2px solid #D5D8D9;
	border-radius:5px;
	height:25px;
	width:250px;
}

#submit 
{
	margin-left:25px;
	border:2px solid #D5D8D9;
	border-radius:5px;
	height:35px;
	width:100px;
	background:#3E89D2;
	color:white;
	font-size:20px;
}

img
{
	vertical-align:middle;
}

a
{
	color:black;
}
